/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}



/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 70;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
}

.fas {
  letter-spacing: 5px;
}

.nav li,
.nav a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #000;
  transition: .5s ease;
}

.nav li.active {
  border-bottom: 2px solid #ff9b07;
}

.menu li a {
  transition: .5s ease;
  margin: 0;
  padding: 0;
}

.menu li.active a,
.menu li:hover a {
  color: #ff9b07;
}

/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */
#fp-nav ul li a span {
  background: orange;
}

#fp-nav ul li .fp-tooltip {
  color: orange;
}

/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */

/* ------------------------- */
/* Animaciones */
/* ------------------------- */
@keyframes bajar-subir {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.circuito article:nth-child(1) {
  background-color: #7ab380;
}

.circuito article:nth-child(2) {
  background-color: #efdb74;
}

.circuito article:nth-child(3) {
  background-color: #3c6d6e;
}

/* ------------------------- */
/* Clases de fullpage.js - Flechas de Slide */
/* ------------------------- */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  top: 95%;
}

.fp-controlArrow.fp-prev {
  left: 80%;
  border-width: 20px 20px 20px 0;
  border-color: transparent #000 transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 50px;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #000;
}

/* ------------------------- */
/* Visita de Circuito Schedule */
/* ------------------------- */

.visitinformation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: #fff;
  margin-right: 30px;
  line-height: 1.1;
  font-weight: 500;
  text-shadow: -1px 1px 1px rgb(0 0 0 / 90%);
}

.visitinformation h1 {
  font-size: 40px;
  text-align: right;
}

.visitinformation p {
  text-align: right;
  font-size: 30px;
}

.visitinformation h2 {
  text-align: right;
  font-size: 38px;
  color: yellow;
}

/* ------------------------- */
/* Visita de Circuito Schedule */
/* ------------------------- */

/* ------------------------- */
/* Visita de Circuito Food arregements */
/* ------------------------- */

.wrapper {
  min-height: 90vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourservices {
  max-width: 1200px;
  margin: auto 0;
  padding: 0;
}

.ourservices h4 {
  color: #000;
  text-align: left;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
}

.ourservices p {
  color: #000;
  letter-spacing: 1px;
  font-size: 14px;
  text-justify: auto;
}

.card-body {
  padding-top: 0px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px 5px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-items: center;
  align-items: center;
}

.galeria .galeriagrupos {
  display: block;
  position: relative;
  cursor: pointer;
}

.galeria .galeriagrupos button:focus {
  outline: unset;
}

.gallery__img {
  display: block;
  margin: 0 auto;
  height: 100px;
  transition: all 0.3s ease-in-out;
}

.gallery__img:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.day p {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: #3c6d6e;
  font-weight: 700;
  text-shadow: -1px 1px 1px rgb(0 0 0 / 90%);
}

.modal-body {
  padding-left: 40px;
}

.modal-backdrop {
  position: relative;
}

.stylelist{
  list-style: none;
  padding-left: 10px;
}

/* ------------------------- */
/* Visita de Circuito Food arregements */
/* ------------------------- */

/* ------------------------- */
/* service arregements */
/* ------------------------- */

.preachingvisit{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.1;
}

.preachingvisit h1{
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.preachingvisit table{
  color: #000;
  font-size: 30px;
}

.preachingvisit .tablevisit th, td{
  border-style: double; 
  text-align: center;
}

.tablevisit{
  margin-top: 15px;
  background-color: #d1e7dd;
}


.tablevisit td{
  width: 350px;
  text-align: center;
} 

.preachingschedule .tablestyle th, td{
  border: double; 
  text-align: center;
}

.mony{
  background-color: rgb(233, 244, 14);
}


/* ------------------------- */
/* service arregements */
/* ------------------------- */

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 768px) {
  .menu li a,
  .menu li.active a {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {

   .nav a {
        font-size: 20px;
        margin-bottom: 21px;
    }

    .menu li a,
    .menu li.active a {
        font-size: 20px;
    }

  .fp-controlArrow.fp-next {
    left: 100px;
  }

  .fp-controlArrow.fp-prev {
    left: 25px;
  }

  .visitinformation h1 {
    font-size: 40px;
  }
  .visitinformation p {
    font-size: 19px;
  }
  .visitinformation h2 {
    font-size: 30px;
  }

    .galeria {
      grid-template-columns: repeat(3, auto);
      width: calc(100% - 20px);
  }
  .gallery__img {
      display: block;
      height: 70px;
  }

  .wrapper{
      min-height: 80vh;
  }


  .modal-content{
    width: 30%;
  }

  .day p {
    font-size: 15px;
  }

  .preachingvisit h1{
    font-size: 18px;
  }

  .tablevisit td{
      width: 110px;
  }
  .preachingvisit table{
    font-size: 13px;
}
}

@media screen and (max-width: 450px) {

  .galeria {
    grid-template-columns: repeat(3, auto);
    width: calc(100% - 20px);
  }
  .gallery__img {
      display: block;
      height: 70px;
  }


  .visitinformation h1 {
    font-size: 18px;
  }
  .visitinformation p {
    font-size: 18px;
  }
  .visitinformation h2 {
    font-size: 20px;
  }

}
